<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Circular Progress Indicators</title>
  <link rel="stylesheet" href="css/app.css">
</head>
<body ng-app="circular" ng-controller="MainCtrl as main">
  <div class="content">
    <div class="random-items">
      <div progress
           data-actual="val.actual"
           data-expected="val.expected"
           ng-repeat="val in main.numbers"
           class="progress-indicator"></div>

      <div class="button-container">
        <input type="button" value="Randomize" ng-click="main.random()">
      </div>
    </div>

    <div class="manual-item">
      <div progress data-actual="main.actual" data-expected="main.expected">
      </div>

      <div class="input-container">
        <input type="text" size="4" ng-model="main.actual" onclick="this.select()">
        <input type="text" size="4" ng-model="main.expected" onclick="this.select()">
      </div>
    </div>
  </div>

  <script src="js/lib.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
